// same.rc

#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include <afxres.h>
#undef APSTUDIO_READONLY_SYMBOLS


/////////////////////////////////////////////////////////////////////////////
// 日本語 resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_JPN)
#ifdef _WIN32
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
#pragma code_page(65001)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_SAME ICON "icon.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Cursor
//

IDC_SAME CURSOR "cursor.cur"


/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_SAMECUR BITMAP "cursor.bmp"


STRINGTABLE
BEGIN
    IDS_TITLE   "さめがめー"

    IDS_SCORE           "　　スコア："
    IDS_HIGH_SCORE      "ハイスコア："
    IDS_SELECTED_AREA   "選択エリア："
    IDS_TRIES           "　　　手数："
    IDS_REST_PIECES     "　残り個数："
    IDS_REST_GROUPS     "　残り塊数："
    IDS_CURSOR_X        "　　 X座標："
    IDS_CURSOR_Y        "　　 Y座標："
    IDS_GAME_NUMBER     "Game Number:"
    IDS_FINISH          "終了！"
    IDS_ALL_CLEAR       "全消し！"
    IDS_RESTART         "Enter:再ゲーム"
    IDS_BACK_TO_TITLE   "F12  :メニューに戻る"
    IDS_END             "Esc  :終了"
    IDS_SAVE_REPLAY_0   "キーボードの0～9を押すと"
    IDS_SAVE_REPLAY_1   "リプレイを保存します"
    IDS_CLEAR_BONUS_0   "“マスクモード”出現！"
    IDS_CLEAR_BONUS_1   "マスクモードレベル２出現！"
    IDS_CLEAR_BONUS_2   "マスクモードレベル３出現！"
    IDS_CLEAR_BONUS_3   "マスクモードレベル４出現！"
    IDS_REPLAYING       "- リプレイ -"
    IDS_NO_REPLAY       "リプレイデータがありません"
    IDS_CLICK_TO_TITLE  "クリックでタイトルに戻る"
END


#endif    // 日本語 resources
